@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?5kiojs");
  src: url("../fonts/icomoon.eot?5kiojs#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?5kiojs") format("truetype"),
    url("../fonts/icomoon.woff?5kiojs") format("woff"),
    url("../fonts/icomoon.svg?5kiojs#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-icon_01_sunny:before {
  content: "\e900";
  font-size: 35px;
  font-weight: 500;
}
.icon-icon_02_cloudy:before {
  content: "\e901";
  font-size: 35px;
  font-weight: 500;
}
.icon-icon_03_partly-cloudy:before {
  content: "\e902";
  font-size: 35px;
  font-weight: 500;
}
.icon-icon_04_rainy:before {
  content: "\e903";
  font-size: 35px;
  font-weight: 500;
}
.icon-icon_05_snowy:before {
  content: "\e904";
  font-size: 35px;
  font-weight: 500;
}
.icon-icon_06_windy:before {
  content: "\e905";
  font-size: 35px;
  font-weight: 500;
}
h1 {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 36px;
  margin-top: 5px;
  margin-bottom: 5px;
}
h2 {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 36px;
  margin-top: 70px;
  margin-bottom: 5px;
}
h3 {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}
h4 {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: -80px;
}
ul {
  list-style-type: none;
  margin-left: -40px;
}
h5 {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: -80px;
}
h6 {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.containerSunny {
  margin-top: 10px;
  padding: 35px 35px 35px 35px;
  border-radius: 25px;
  align-items: center;
  max-width: 500px;
  margin-bottom: 10px;
  background-image: linear-gradient(to top, #ff9a9e 0%, #f9df70 90%);
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  transition: all 200ms fade-out 200ms;
}
.containerCloudy {
  margin-top: 10px;
  padding: 35px 35px 35px 35px;
  border-radius: 25px;
  align-items: center;
  max-width: 500px;
  margin-bottom: 10px;
  background-image: linear-gradient(to top, #9fb8d1 0%, #b7b7b7 70%);
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  transition: all 200ms fade-out 200ms;
}
.containerPartlyCloudy {
  margin-top: 10px;
  padding: 35px 35px 35px 35px;
  border-radius: 25px;
  align-items: center;
  max-width: 500px;
  margin-bottom: 10px;
  background-image: linear-gradient(to top, #ff9a9e 0%, #b7b7b7 70%);
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  transition: all 200ms fade-out 200ms;
}
.containerRaining {
  margin-top: 10px;
  padding: 35px 35px 35px 35px;
  border-radius: 25px;
  align-items: center;
  max-width: 500px;
  margin-bottom: 10px;
  overflow: hidden;
  background-image: linear-gradient(to top, #b7b7b7 0%, #9fb8d1 70%);
  margin-right: auto;
  margin-left: auto;
  transition: all 200ms fade-out 200ms;
}
.containerSnow {
  margin-top: 10px;
  padding: 35px 35px 35px 35px;
  border-radius: 25px;
  align-items: center;
  max-width: 500px;
  margin-bottom: 10px;
  background-image: linear-gradient(to top, #9fb8d1 0%, #c7e3f9 70%);
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  transition: all 200ms fade-out 200ms;
}
.search-bar {
  display: flex;
  align-items: center;
  max-width: 330px;
}
.form-control {
  width: 200px;
  border-radius: 8px;
  display: inline;
  height: 30px;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
}
.btn {
  display: inline;
  width: 70px;
  height: 30px;
  align-items: center;
  margin-left: 5px;
  color: #ffffff;
  background: #ff9a9e;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: left;
  transition: all 200ms ease-in-out;
  border-radius: 8px;
  border: none;
}
.btn:hover {
  cursor: pointer;
  background: #ffffff;
  color: #ff9a9e;
  font-family: "Quicksand", sans-serif;
  transition: all 200ms fade-out 200ms;
}
.detail {
  margin-top: 35px;
  margin-bottom: 35px;
}
.float {
  font-size: 16px;
  display: inline;
  position: relative;
  top: 0px;
}
.more-weather {
  margin-top: 10px;
}
.col-2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  margin-top: 5px;
}
p {
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  font-size: 12px;
  text-align: center;
  color: #ff9a9e;
  margin-top: -20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #9fb8d1;
}
a:hover {
  color: #ff9a9e;
}
img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-top: -80px;
  margin-right: -40px;
}
#fahrenheit-link {
  text-decoration: none;
  color: #ffffff;
}
#celcius-link {
  text-decoration: none;
  color: #ffffff;
}
.active {
  color: #ffffff;
  font-weight: bold;
  font-size: 36px;
  text-decoration: none;
  cursor: default;
}
.active :hover {
  color: #ff9a9e;
}
